@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FDFBF9;
    color: #1F2029;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

/* Custom scrollbars & Glassmorphism styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #FDFBF9;
}
::-webkit-scrollbar-thumb {
  background: #D4C4B7;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #704F38;
}
