# Shared configurations
JWT_SECRET=supersecret_change_me_in_production

# MongoDB URIs (Default to local docker container if commented out)
# AUTH_MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/fashion_auth
# CATALOG_MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/fashion_catalog
# CART_MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/fashion_cart
# ORDER_MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/fashion_orders

# Razorpay Credentials
RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_KEY_SECRET
RAZORPAY_WEBHOOK_SECRET=YOUR_RAZORPAY_WEBHOOK_SECRET
