# Shared configurations
JWT_SECRET=supersecret

# MongoDB URIs (Default to local docker container if commented out)
# AUTH_MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/fashion_auth
# CATALOG_MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/fashion_catalog
# CART_MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/fashion_cart
# ORDER_MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/fashion_orders

# Razorpay Credentials
RAZORPAY_KEY_ID=rzp_test_TDcSlPdmpjHqXj
RAZORPAY_KEY_SECRET=WobROJEs1lw9IfMvUUlTEAM0
RAZORPAY_WEBHOOK_SECRET=WobROJEs1lw9IfMvUUlTEAM0
